<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Emoji Search.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D87EEDD21C31C7BC0011D8A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D87EEDE61C31C7BC0011D8A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D87EEDF11C31C7BC0011D8A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
